<md-toolbar role="toolbar" class="toolbar-admin">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
      <md-icon md-svg-src="menu" style="color:#225024;vertical-align:baseline;"></md-icon>
    </md-button>
    <h4 class="md-title" style="color:#225024;margin:0!important;">Avaliadores | Inscrição</h4>
    <!-- <md-menu>
      <md-button md-no-ink aria-label="Open demo menu" layout="row" class="hide-hover" style="height:45px;" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-src="exit-to-app" style="color:#225024;width:28px;height:28px;"></md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button data-ng-click="logout()" class="grey-text darken-3">
            <md-icon md-svg-src="exit-to-app" class="grey-text darken-3"></md-icon>
            Sair
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu> -->
  </div>
</md-toolbar>
<iframe id="glu" onload="resize_iframe()" width="100%" src="/admin/views/avaliadores.html" frameborder="0"></iframe>
